<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.git.must11.plugin.urlJson</id>
    <name><![CDATA[url请求数据集]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2018-07-31</jartime>
    <vendor>author</vendor>
    <description><![CDATA[url请求数据集]]></description>
    <change-notes><![CDATA[
      [2022-09-23]初始化插件。<br/>
    ]]></change-notes>
    <change-notes><![CDATA[]]></change-notes>
    <main-package>com.git.must11.plugin</main-package>

    <extra-core>
        <LocaleFinder class="com.git.must11.plugin.resource.LocaleFinderImpl"/>
    </extra-core>
    <extra-designer>
        <TableDataDefineProvider class="com.git.must11.plugin.UrlJson"/>
    </extra-designer>
    <function-recorder class="com.git.must11.plugin.UrlJsonTableData"/>

</plugin>